{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #190041; font-style: bold; font-size: 3rem;">Salmek International SA</div>
    <div class="align-middle" style="color: #190041">Ruta 2 KM 277.8 - Mercedes (75000)</div>
    <div class="align-middle" style="color: #190041">RUT: 217490300011</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#ea2020">| Acerca de |</h3> <br>
            <p>
               Somos distribuidores exclusivos de la marca Mainero.
            </p>
        <br>
    </div>
        <h2 style="color:#ea2020" class="align-middle">| Quienes somos |</h3> <br>
            <ul style="display:table; margin:0 auto;">                
                <li style="color: black;">Director: Sergio Vainstein</li>
                <li style="color: black;">Técnico: Francisco Ramos</li>
                <li style="color: black;">Ventas: Eduardo Monza</li>
                <li style="color: black;">Administración: Walter Liendo</li>
            </ul>  
        <br>
    <div class="align-middle">

    </div>

{% endblock content %}